<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>LifeGame</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="app">
        <h1>Life Game</h1>
        <button v-on:click="play" v-bind:disabled="isPlayable">再生</button>
        <button v-on:click="stop" v-bind:disabled="!isPlayable">停止</button>
        <button v-on:click="random" v-bind:disabled="isPlayable">ランダム</button>
        <button v-on:click="clearAll">クリア</button> 
        
        <table bgcolor="#000000" style="border-collapse: collapse; margin: 25px;">
            <tr v-for="(value, row) in values">
                <td v-for="(num, col) in value" v-bind:style="num == 1 ? liveStyle : ''" @click="push(row, col)" width="8" height="8">
                </td>
            </tr>
        </table>

        <h2>代表的なパターン</h2>
        <button v-on:click="grinder" v-bind:disabled="isPlayable">グラインダー</button>
        <button v-on:click="spaceShip" v-bind:disabled="isPlayable">宇宙船</button>
        <button v-on:click="grinderGun" v-bind:disabled="isPlayable">グラインダーガン</button>
        <button v-on:click="line" v-bind:disabled="isPlayable">長さ10の線</button>
        <button v-on:click="queenBee" v-bind:disabled="isPlayable">女王蜂</button>
        <button v-on:click="nebula" v-bind:disabled="isPlayable">ネブラ</button>

        <h2>デバグ</h2>
        <button v-on:click="show" v-bind:disabled="isPlayable">座標確認</button>
        {{ point }}
    <script src="script/script.js"></script>
    </div>
</body>
</html>
